.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;

  .ignite-logo {
    height: 2rem;
  }

  .application-name {
    font-size: 1.2rem;
  }
}
