.avatar-image {
  box-sizing: initial;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  object-fit: cover;

  &.default {
    border: 0.25rem solid var(--gray-800);
    outline: 0.125rem solid var(--green-500);
  }
}
